/* Editing mode metabox */

.fpr-editing-mode__label {
	vertical-align: baseline;
	font-weight: 600;
}

.fpr-editing-mode__button {
	text-align: right;
}

/* Pending revisions and Publish buttons */

#major-publishing-actions {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

#major-publishing-actions .clear {
	display: none;
}

#publishing-action {
	float: none;
	align-self: flex-end;
}

#publishing-action:nth-child(2):nth-last-child(2) {
	width: 100%; /* Align button right when no other button is displayed */
}

.fpr-pending-revisions-action {
	line-height: 47px;
	text-align: right;
}

@media screen and (min-width: 783px) {
	.fpr-pending-revisions-action {
		line-height: 23px;
	}
}

@media screen and (min-width: 851px) {
	#delete-action {
		order: -1;
		width: 100%;
	}

	.fpr-pending-revisions-action {
		margin-top: 12px;
	}
}

/* Utilities */

.fd-util-wait,
.fd-util-wait * {
	cursor: wait !important;
}
