/* Editing mode metabox */

.fpc-editing-mode__label {
	vertical-align: baseline;
	font-weight: 600;
}

/* Pending changes button */

.fpc-pending-changes-action {
	order: 2;
	margin-left: auto;
	padding-left: 12px;
	line-height: 47px;
	text-align: right;
}

@media screen and (min-width: 783px) {
	.fpc-pending-changes-action {
		margin-bottom: 12px;
		line-height: 23px;
	}
}

@media screen and (min-width: 851px) {
	.fpc-pending-changes-action {
		margin-left: 0;
	}
}
