/* Fix themes that set background for the timeline */
.revisions-tickmarks * {
	z-index: 1;
}

/* No timeline for autosave revisions */
.fpr-autosave-revision .revisions-buttons,
.fpr-autosave-revision .revisions-checkbox,
.fpr-autosave-revision .revisions-tickmarks,
.fpr-autosave-revision .wp-slider {
	display: none;
}

/* Column headers */
.revisions-meta {
	display: none;
}

.revisions-controls,
.revisions.pinned .revisions-controls {
	height: auto;
	min-height: 80px;
}

.revisions-tooltip {
	top: -15px;
	bottom: initial;
}

.revisions-headers {
	display: flex;
	clear: both;
	margin: 2rem 0;
	padding: 2rem 1rem;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

.revisions.pinned .revisions-headers {
	margin: 1.5rem 0 1rem;
	padding: 0 1rem;
	border: none;
}

.revisions-headers__from,
.revisions-headers__to {
	width: 50%;
}

.revisions-headers__title,
.revisions-headers__date,
.revisions-headers__author {
	font-size: 1rem;
}

.revisions.pinned .revisions-headers__title,
.revisions.pinned .revisions-headers__date,
.revisions.pinned .revisions-headers__author {
	font-size: inherit;
}


.revisions-headers__title {
	font-weight: bold;
}

.revisions-headers__type--current {
	color: #46b450;
}

.revisions-headers__type--pending {
	color: #359dd9;
}

.revisions-headers__date-ago,
.revisions-headers__author-name {
	font-weight: bold;
}

.revisions-headers__date-long,
.revisions-headers__author-role {
	color: #808080;
}

.revisions.pinned .revisions-headers__note {
	display: none;
}

.revisions-headers__note {
	display: flex;
	margin-top: 1rem;
	color: #808080;
}

.revisions-headers__note-caption {
	margin-right: 0.375rem;
	font-weight: bold;
}
